body{
    background-color: rgb(130, 190, 231);
}

.central1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.central1 h3 {
  font-family: sans-serif;
  font-size: 25px;
  color: black;
}
.logo{
    width: 140px;
    height: 140px;
}
.div{
    align-items: center;
    display: flex;
    justify-content: center;
}
.input-container {
  position: relative;
  margin: 20px;
}
.enviar { 
    background-color: #eee;
    border: solid 1px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    color: #093F61;
    border-color: #093F61;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Input field */
.input-field {
  display: block;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #093F61;
  outline: none;
  background-color: transparent;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
  top: -15px;
  font-size: 12px;
  color: #007bff;
}

.input-field:focus + .input-label + .input-highlight {
  width: 70%;
}
